.fieldset-border {
  border: 1px solid #ced4da !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  border-radius: 0.25rem;

  legend {
    display: inline;
    width: auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    padding: 0 10px;
  }
}

.form-check-all {
  font-weight: bold;
  margin-bottom: 5px;
}

.group-list {
  max-height: 200px;
  overflow-y: auto;
}

.content-list {
  padding: 0;
  padding-left: 15px;
}